<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <h1>
    App By {{title}}!
  </h1>
  <h2> App Charters Bs As </h2>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Mapa {{charterSeleccionado.nombre}}</h1>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
          <agm-marker 
          *ngFor="let charter of charters"
          [latitude]="charter.lat" 
          [longitude]="charter.lng"
          [label]="charter.nombre"
          >
        </agm-marker>
        </agm-map>      
    </div>
    <div class="col-md-4">
      <h1>Charter </h1>
      <p>Donde esta el Charter ? </p>
      <ul class="list-group" *ngFor="let charter of charters" 
        (click)="charter_seleccionado(charter)"
      >
        <li class="list-group-item">{{charter.nombre}}</li>
      </ul>
      <br>
      <button type="button" class="btn btn-primary btn-block" (click)="dejar_seguir()">Dejar de Seguir </button>
    </div>
  </div>

</div>